<!doctype html>
<html ng-app='myApp'>
<head>
	<script src="angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/keyboard.js"></script>
	<script src="js/bot.js"></script>
	<link rel="stylesheet" href="main.css"></link>
</head>
<body ng-controller="desk">
	<div ng-controller="keyboard"></div>
	<div id="gameplace">
		<div ng-repeat="rw in data">
			<div ng-repeat="row in rw" ng-bind="row.val" ng-class="'style'+row.val">1</div>
		</div>
	</div>
	<button ng-click="addRandom()">addRandom</button>
	<button ng-click="move(2)" id="upButton">up</button>
	<button ng-click="move(3)" id="botButton">down</button>
	<button ng-click="move(0)" id="leftButton">left</button>
	<button ng-click="move(1)" id="rightButton">right</button>
	<input type='checkbox' title='bot' ng-controller="bot" ng-model="isBotActite">bot</input>
	<div ng-bind="'totalScore:'+totalSum"></div>
</body>
</html>