body {background-color: #ccc;}
#gameplace {position:absolute;top: 10%;left: 10%;width: 50%;height: 80%;background-color: #eee;display:table;}
#gameplace div {width:100%;height:25%;display:table-row;}
#gameplace div div {width:25%;height:25%;display:table-cell;text-align:center;vertical-align:middle;border-radius:15%;}


#upButton {position:absolute;top:5%;left:30%;width:10%;height:5%;}
#botButton {position:absolute;top:95%;left:30%;width:10%;height:5%;}
#leftButton {position:absolute;top:47.5%;left:5%;width:4%;height:5%;}
#rightButton {position:absolute;top:47.5%;left:60%;width:4%;height:5%;}

.style0{}
.style2{background-color: #dd3;}
.style4{background-color: #7c7;}
.style8{background-color: #3dd;}
.style16{background-color: #a4d;}
.style32{background-color: #77c;}
.style64{background-color: #d4a;}
.style128{background-color: #d3d;}
.style256{background-color: #c77;}

.style512{background-color: #cc7;}
.style1024{background-color: #7cc;}
.style2048{background-color: #c7c;}